.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  display: flex;
}

.story-list__wrapper{
  max-width: 100%;
  margin: auto;
}

.story-list__wrapper ul {
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
  grid-template-rows: 100px;
  grid-gap: 0.225%;
  list-style: none;
  transition: all 1s;

}

.story-list__wrapper li {
  background: #eee;
  padding: 0.3rem;
  transition: all 1s;
}
