@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@custom-media --viewport-medium (width >=30rem);
@custom-media --viewport-large (width >=48rem);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --fontSize: 1rem;
  --mainColor: #12345678;
  --secondaryColor: lab(32.5 38.5 -47.6 / 90%);
  --color-primary: #1c1c1c;
  --color-grey-background: #f9f9f9;
  --color-grey-light: #dddddd;
  --color-grey: #828282;
  --color-orange: #ff7100;
  --color-red: #9c0202;
  --color-white: #fff;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-500: 500;
  --font-weight-bold: 600;
}

html {
  overflow: hidden auto;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  display: flex;
}

.loading-block{
  text-align: center;
  font-size: 5rem;
  margin: 10rem auto;
}

.story-list__wrapper{
  max-width: 100%;
  margin: auto;
}

.story-list__wrapper ul {
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
  grid-gap: 0.225%;
  list-style: none;
}

.story-list__wrapper li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  padding: 20px 0;
  background: #eee;
  transition: all 1s;
}

.story {
  cursor: pointer;
}

.story article {
  padding: 10px;
  text-align: left;
}
.story h5 {
  font-size: 13px;
  width: 100%;
  font-weight: 600;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.story small {
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.story.expand h5, .story.expand small {
  white-space: unset;
  overflow: unset;
  text-overflow: unset;
}


.story .score {
  position: relative;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #282c34;
  padding-left: 20px;
  margin: 10px 0;
}

.story .score::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #dddddd transparent;
  position: absolute;
  left: 5px;
  top: 2px;
}

.story p{
  display: none;
  transition: all 1s;
}

.story.expand p{
  display: block;
}
