.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  display: flex;
}

.loading-block{
  text-align: center;
  font-size: 5rem;
  margin: 5rem auto;
}

.story-list__wrapper{
  max-width: 100%;
  margin: auto;
}

.story-list__wrapper ul {
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
  grid-template-rows: 100px;
  grid-gap: 0.225%;
  list-style: none;
  transition: all 1s;

}

.story-list__wrapper li {
  background: #eee;
  padding: 0.3rem;
  transition: all 1s;
}

.story {
  cursor: pointer;
}

.story h5 {
  font-size: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story a {
  display: block;
}

.story.expand h5 {
  white-space: unset;
  overflow: unset;
  text-overflow: unset;
}

.story p{
  display: none;
  transition: all 1s;
}

.story.expand p{
  display: block;
}
